*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build/
/release/
# Imzalama anahtari ve parolalari asla depoya girmez
*.keystore
*.jks
keystore.properties
